{% extends 'base.html.twig' %}

{% block page_title %}Usuwanie użytkownika - {{ user.name }} {{ user.surname }}{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block logo_path %}{% endblock %}

{% block page_content %}
    <form action="{{ path('user_delete', {user: user.idUser}) }}" class="form-horizontal"
          method="post">
        <div class="box">
            <div class="box-body">
                <div class="col-md-12">
                    <h4>Czy na pewno chcesz usunąć tego użytkownika?</h4>
                    <input type="hidden" name="confirm" value="1">
                </div>
                <a href="{{ path('users_list') }}" title="Anuluj" class="btn btn-default"><i
                            class="fas fa-reply"></i> Anuluj</a>
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Usuń</button>
            </div>
        </div>
    </form>
{% endblock %}

{# @var user \App\Entity\User #}
